.banner__title{
    color: #fdfdfd;
    font-family: Pacifico, cursive;
    left: 50%;
    position: absolute;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

@media screen and (min-width: 0) {
    .banner__title {
        font-size: 3.25rem;
    }
}

@media screen and (min-width: 768px) {
    .banner__title {
        font-size: 5.0625rem;
    }
}